@import "variables.less";
@import "funciones.less";
@import "componentes/modal.less";
@import "componentes/otros.less";
@import "componentes/validate.less";

@import "vistas/login.less";
@import "vistas/panel.less";

html{
	height: 100%;
}

#WindowLoad{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3200;
	.opacar(.80);
	background: @color3;
	color: white;
	
	img{
		width: 70%;
		margin-bottom: 10px;
	}
}

#alertify{
    .btn{
        margin-left: 2px;
        margin-right: 2px;
    }
    .btn-muted{
      //  background: @bgGris;
        color: white;
        border: none;
    
        &:hover, &:focus{
            color: white;
        }
    }
    
    .btn-primary{
        border: none;
        &:hover, &:focus{
            color: white;
        }
    }
}

nav.footer{
	.btn-primary{
		font-size: 12px;
		height: 40px;
	}
}

#lstImg{
	img{
		width: 200px;
		height: 200px;
	}
}

.tab-pane{
	background: white;
}