.sombra {
  box-shadow: 2px 2px 5px #B2DFDB;
}
.sombra {
  box-shadow: 2px 2px 5px #B2DFDB;
}
.modal .modal-header {
  background: #3d8dbc;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3d8dbc, #2c7cab);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3d8dbc, #2c7cab);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3d8dbc, #2c7cab);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3d8dbc, #2c7cab);
  /* Standard syntax */
  color: white;
  height: 40px;
}
.modal .modal-body {
  overflow-y: auto;
}
@media (max-width: 728px) {
  .modal .modal-body {
    max-height: 550px;
  }
}
.input-xs {
  height: 25px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}
.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
  height: 25px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  min-width: 25px;
}
form input.validateError,
form input.validateError:focus {
  border: 1px solid orange;
}
form label.validateError {
  color: red;
  font-size: 12px;
}
.navbar-primary {
  background: #3d8dbc;
  border: none;
}
.navbar-primary .container-fluid a {
  color: white;
}
.navbar-primary .container-fluid .navbar-toggle {
  border: none;
  color: white;
  margin-top: 18px;
}
.navbar-primary .container-fluid .navbar-toggle:hover {
  background: #3d7799;
}
.navbar-primary .container-fluid .navbar-brand {
  margin-top: 12px;
  font-size: 22px;
}
.navbar-primary .navbar-nav {
  padding-left: 0px;
  padding-right: 0px;
  padding-inline-start: 0px;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
.navbar-primary .navbar-collapse {
  z-index: 1000;
  padding-left: 0px;
  padding-right: 0px;
}
.navbar-primary .navbar-collapse.collapse ul.navbar-nav,
.navbar-primary .navbar-collapse.collapsing ul.navbar-nav {
  list-style: none;
  text-align: center;
}
.navbar-primary .navbar-collapse.collapse ul.navbar-nav li,
.navbar-primary .navbar-collapse.collapsing ul.navbar-nav li {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 25%;
  min-width: 100px;
  text-align: center;
}
@media (max-width: 728px) {
  .navbar-primary .navbar-collapse.collapse ul.navbar-nav li,
  .navbar-primary .navbar-collapse.collapsing ul.navbar-nav li {
    float: left;
    height: 80px;
    width: 50%;
  }
}
.navbar-primary .navbar-collapse.collapse ul.navbar-nav li a,
.navbar-primary .navbar-collapse.collapsing ul.navbar-nav li a {
  color: white;
}
.navbar-primary .navbar-collapse.collapse ul.navbar-nav li:hover,
.navbar-primary .navbar-collapse.collapsing ul.navbar-nav li:hover {
  background: #3d7799;
}
footer {
  display: none;
  height: 20px;
  width: 100%;
}
footer .navbar {
  min-height: 1px;
  color: white;
  font-size: 10px;
  background: #3d7799;
  -moz-border-radius-topleft: 30px;
  -webkit-border-top-left-radius: 30px;
  -moz-border-radius-topright: 30px;
  -webkit-border-top-right-radius: 30px;
}
#login {
  background-image: url("../img/bgLogin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 100% !important;
  min-height: 100%;
  float: left;
  width: 100%;
}
#login .inicio {
  text-align: center;
  width: 99%;
  margin-top: 50px;
}
#login .inicio .logo {
  margin-bottom: 30px;
  width: 80px;
}
#login .inicio .btnRegistrate {
  font-size: 14px;
}
#panelVenta {
  margin-top: 60px;
  width: 100%;
}
#panelVenta .row {
  margin-left: 0px;
  margin-right: 0px;
}
#panelVenta .tituloVenta {
  background: #3d7799;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
#panelVenta #pnlVenta .widhFull,
#panelVenta #pnlVenta .widthfull {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
#panelVenta #pnlVenta .widhFull #selBazar,
#panelVenta #pnlVenta .widthfull #selBazar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  display: inline-block;
}
#panelVenta #pnlVenta .btn {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}
#panelVenta #frmFiltros .input-group-addon {
  background: #3d8dbc;
  border: none;
  border-radius: 0px;
}
#panelVenta #dvProductos {
  padding-top: 10px;
  padding-bottom: 30px;
}
#panelVenta #dvProductos .panel {
  padding-left: -15px !important;
  padding-right: -15px !important;
}
#panelVenta #lstProductos {
  font-size: arial;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#panelVenta #lstProductos .producto {
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  height: 180px;
  border: 1px solid #3d8dbc;
}
#panelVenta #btnPanelAddProducto,
#panelVenta #btnPanelPagar {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  z-index: 5;
}
#panelVenta #btnPanelPagar {
  right: 80px;
}
#panelVenta #winVentas .modal-body {
  padding-left: 0px;
  padding-right: 0px;
}
#panelVenta .dataTables_wrapper .col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}
.panelDashboard {
  top: 130px;
  position: absolute;
  width: 100%;
  z-index: -2;
}
@media (max-width: 728px) {
  .panelDashboard {
    top: 85px;
  }
}
.panelDashboard .alertas {
  position: absolute;
  z-index: -2;
}
.panelProductos {
  top: 105px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: -2;
}
@media (max-width: 728px) {
  .panelProductos {
    top: 63px;
  }
}
.panelProductos .widthFull,
.panelProductos .fullWidth {
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
}
.panelProductos .widthFull .row,
.panelProductos .fullWidth .row {
  margin-left: 0px;
  margin-right: 0px;
}
.panelProductos #dvLista {
  padding-left: 0px;
  padding-right: 0px;
}
.panelProductos #dvLista tblDatos_wrapper .col-lg-1,
.panelProductos #dvLista tblDatos_wrapper .col-lg-10,
.panelProductos #dvLista tblDatos_wrapper .col-lg-11,
.panelProductos #dvLista tblDatos_wrapper .col-lg-12,
.panelProductos #dvLista tblDatos_wrapper .col-lg-2,
.panelProductos #dvLista tblDatos_wrapper .col-lg-3,
.panelProductos #dvLista tblDatos_wrapper .col-lg-4,
.panelProductos #dvLista tblDatos_wrapper .col-lg-5,
.panelProductos #dvLista tblDatos_wrapper .col-lg-6,
.panelProductos #dvLista tblDatos_wrapper .col-lg-7,
.panelProductos #dvLista tblDatos_wrapper .col-lg-8,
.panelProductos #dvLista tblDatos_wrapper .col-lg-9,
.panelProductos #dvLista tblDatos_wrapper .col-md-1,
.panelProductos #dvLista tblDatos_wrapper .col-md-10,
.panelProductos #dvLista tblDatos_wrapper .col-md-11,
.panelProductos #dvLista tblDatos_wrapper .col-md-12,
.panelProductos #dvLista tblDatos_wrapper .col-md-2,
.panelProductos #dvLista tblDatos_wrapper .col-md-3,
.panelProductos #dvLista tblDatos_wrapper .col-md-4,
.panelProductos #dvLista tblDatos_wrapper .col-md-5,
.panelProductos #dvLista tblDatos_wrapper .col-md-6,
.panelProductos #dvLista tblDatos_wrapper .col-md-7,
.panelProductos #dvLista tblDatos_wrapper .col-md-8,
.panelProductos #dvLista tblDatos_wrapper .col-md-9,
.panelProductos #dvLista tblDatos_wrapper .col-sm-1,
.panelProductos #dvLista tblDatos_wrapper .col-sm-10,
.panelProductos #dvLista tblDatos_wrapper .col-sm-11,
.panelProductos #dvLista tblDatos_wrapper .col-sm-12,
.panelProductos #dvLista tblDatos_wrapper .col-sm-2,
.panelProductos #dvLista tblDatos_wrapper .col-sm-3,
.panelProductos #dvLista tblDatos_wrapper .col-sm-4,
.panelProductos #dvLista tblDatos_wrapper .col-sm-5,
.panelProductos #dvLista tblDatos_wrapper .col-sm-6,
.panelProductos #dvLista tblDatos_wrapper .col-sm-7,
.panelProductos #dvLista tblDatos_wrapper .col-sm-8,
.panelProductos #dvLista tblDatos_wrapper .col-sm-9,
.panelProductos #dvLista tblDatos_wrapper .col-xs-1,
.panelProductos #dvLista tblDatos_wrapper .col-xs-10,
.panelProductos #dvLista tblDatos_wrapper .col-xs-11,
.panelProductos #dvLista tblDatos_wrapper .col-xs-12,
.panelProductos #dvLista tblDatos_wrapper .col-xs-2,
.panelProductos #dvLista tblDatos_wrapper .col-xs-3,
.panelProductos #dvLista tblDatos_wrapper .col-xs-4,
.panelProductos #dvLista tblDatos_wrapper .col-xs-5,
.panelProductos #dvLista tblDatos_wrapper .col-xs-6,
.panelProductos #dvLista tblDatos_wrapper .col-xs-7,
.panelProductos #dvLista tblDatos_wrapper .col-xs-8,
.panelProductos #dvLista tblDatos_wrapper .col-xs-9 {
  padding-left: 0px;
  padding-right: 0px;
}
html {
  height: 100%;
}
body {
  font-family: 'Abel', sans-serif;
  background-color: #E0E6FE;
}
#WindowLoad {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3200;
  opacity: 0.8;
  background: #3d8dbc;
  color: white;
}
#WindowLoad img {
  width: 70%;
  margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */