.sombra {
  box-shadow: 2px 2px 5px #B2DFDB;
}
.sombra {
  box-shadow: 2px 2px 5px #B2DFDB;
}
.modal .modal-header {
  background: #4060A6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4060A6, #5177C8);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4060A6, #5177C8);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4060A6, #5177C8);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4060A6, #5177C8);
  /* Standard syntax */
  color: white;
}
.modal .modal-body {
  overflow-y: auto;
}
@media (max-width: 728px) {
  .modal .modal-body {
    max-height: 350px;
  }
}
form input.validateError,
form input.validateError:focus {
  border: 1px solid orange;
}
form label.validateError {
  color: red;
  font-size: 12px;
}
#login .inicio {
  text-align: center;
  width: 99%;
}
#login .inicio img {
  margin-bottom: 20px;
}
#home {
  overflow-y: hidden;
}
#home #menu {
  background: #393d40;
}
#home #menu img {
  width: 150px;
  margin-bottom: 10px;
}
#home #menu .navbar {
  background: #393d40;
}
#home #menu .navbar a {
  color: white;
  position: absolute;
  right: 3rem;
  margin-top: 3px;
}
#home #menu .navbar .navbar-toggler {
  color: white;
}
#home #menu .navbar .navbar-brand {
  color: white;
  font-size: 16px;
}
#home #menu .col-4 {
  padding-left: 2px;
  padding-right: 2px;
}
#home #menu a[role=button] {
  background: white;
  border: none;
  border-right: none;
  border-radius: inherit;
  color: #393d40;
  width: 100%;
}
#home #menu a[role=button]:last-child {
  border: none;
}
#home #menu a[role=button] .fa-stack {
  width: auto;
}
#home #menu a[role=button] [campo=nombre] {
  font-size: 11px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 0px;
}
#home #modulo {
  margin-top: 10px;
  overflow-y: scroll;
}
#home #modulo .container {
  background: rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}
#home #modulo .page-header {
  margin-top: 5px;
  border-bottom-color: #295179;
}
#home #modulo .page-header h1 {
  font-size: 16px;
  color: #295179;
  margin: 0px;
}
#home #modulo div.orden {
  margin-bottom: 15px;
  font-size: 13px;
}
#home #modulo div.orden .mapa {
  height: 200px;
}
#home #modulo div.orden .presupuesto {
  font-size: 16px;
  margin-bottom: 5px;
}
#home #modulo div.orden .posiciones {
  margin-top: 10px;
}
#home #modulo div.listaOrden {
  font-size: 12px;
}
#home #modulo div.listaOrden .badge {
  font-size: 12px;
  background: #8ac247;
  font-weight: normal;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
}
#home .footer {
  position: relative;
  margin-top: -50px;
  height: 40px;
  clear: both;
}
#WindowLoad {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3200;
  opacity: 0.8;
  background: #393d40;
  color: white;
}
#WindowLoad img {
  width: 50%;
}
.text-success {
  color: #46baad !important;
}
.btn-primary {
  background: #46baad;
  border-color: inherit;
}
.btn-primary:hover {
  background: #24988b;
  border-color: #3d8f86;
}
.btn-primary.btn-sm {
  font-size: 10px;
}
#alertify .btn {
  margin-left: 2px;
  margin-right: 2px;
}
#alertify .btn-muted {
  background: #393d40;
  color: white;
  border: none;
}
#alertify .btn-muted:hover,
#alertify .btn-muted:focus {
  color: white;
}
#alertify .btn-primary {
  border: none;
}
#alertify .btn-primary:hover,
#alertify .btn-primary:focus {
  color: white;
}
nav.footer .btn-primary {
  font-size: 12px;
  height: 40px;
}
#lstImg img {
  width: 200px;
  height: 200px;
}

/*# sourceMappingURL=style.css.map */