.navbar-primary{
	background: @color1;
	border: none;
	
	.container-fluid{
		a{
			color: white;
		}
		
		.navbar-toggle{
			border: none;
			color: white;
			margin-top: 18px;
			&:hover{
				background: @color2;
			}
		}
		
		.navbar-brand{
			margin-top: 12px;
			font-size: 22px;
		}
	}
	
	.navbar-nav{
		padding-left: 0px;
		padding-right: 0px;
		padding-inline-start: 0px;
		width: 100%;
	}
	
	.navbar-collapse{
		z-index: 1000;
		&.collapse, &.collapsing{
			ul.navbar-nav{
				list-style: none;
				text-align: center;
				li{
					@media (max-width: @mq-xs-max){
						float: left;
						//min-width: 50px;
						//max-width: 200px;
						height: 80px;
						width: 50%
					}
					
					//margin-left: 10px;
					//margin-right: 10px;
					padding-top: 10px;
					padding-bottom: 5px;
					width: 25%;
					min-width: 150px;
					text-align: center;
					
					a{
						color: white;
					}
					
					&:hover{
						background: @color2;
					}
				}
			}
		}
	}
}