#panelVenta{
	.paneles{
		margin-top: 123px;
	}
	
	.box{
		.row{
			margin-right: 0px;
			margin-left: 0px;
			
			.col-xs-12{
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
	nav{
		margin-bottom: 0px;
	}
	
	ul#wizard{
		list-style-type: none;
		margin: 0;
		padding: 0;
		
		button{
			border: none;
			border-radius: 0px;
			width: 33.33%;
			float: left;
		}
	}
	
	
	#frmFiltro{
		.input-group-addon{
			background: @color1;
			border: none;
			border-radius: 0px;
		}
	}
	
	#dvProductos{
		padding-top: 10px;
		
		.panel{
			padding-left: -15px !important;
			padding-right: -15px !important;
		}
	}
	
	#lstProductos{
		font-size: arial;
		.producto{
			padding: 5px 5px 5px 5px;
			font-size: 14px;
			height: 100px;
			border: 1px solid @color1;
		}
	}
}